<div class="individual-collection" id="{{ section.id }}">
  <div class="flex justify-between">
    <h3>{{ title }}</h3>
    {% assign collection = collections[collection_handle] %}
    {{ collections[collection_handle].products.size | json }}
    {% if collection.products.size > 4 %}
      {{ 'Show More' | link_to: collection.url, class: 'link-txt' }}
    {% endif %}
  </div>
  <div class="prod-holder">
    {% for product in collections[collection_handle].products %}
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>
</div>

<script>
  console.log('{{ collection_handle }}');
  console.log('{{ collections[collection_handle].products | json }}');
</script>
