<div class="header">
  <div class="title b">
    {{ shop.name }}
  </div>

  <div class="flex justify-between" id="nav">
    <ul class="nav-items">
      {% for link in linklists['main-menu'].links %}
        <li>
          <a
            href="{{ link.url }}"
            {% if link.url == request.path %}
              class="active"
            {% endif %}
          >
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="flex items-center gap-8">
      {{ localization.country | image_url: width: 32 | image_tag }}

      <form action="{{ routes.search_url }}" class="flex items-center gap-4">
        <input
          type="text"
          placeholder="Search"
          name="q"
          value="{{ search.terms | escape }}"
        >
        <button class="b-w-btn short" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

{% comment %}
  <script>
    console.log('{{ linklists['main-menu'] }}');
  </script>
{% endcomment %}

{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
